.footer {
  grid-area: footer;
  max-width: 355px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 12px;
  // .footer__nav

  &__nav {
  }

  // .footer__list

  &__list {
    display: flex;
    align-items: flex-end;

    padding: 30px 0px;
  }

  // .footer__item

  &__item {
    position: relative;
    text-decoration: none;
  }
  &__item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000; /* Цвет андерлайна */
    transition: width 0.3s ease; /* Анимация появления */
  }
  @media (min-width: 768px) {
    &__item:hover::after {
      width: 100%; /* Увеличиваем ширину при наведении */
    }
  }

  &__item:nth-child(1n + 3) {
    margin-left: 40px;
    @media (max-width: 480px) {
      margin-left: 20px;
    }
    @media (max-width: 360px) {
      margin-left: 15px;
    }
  }
}
